@model Student
@{
    SelectList deptsList = new SelectList(ViewBag.AllDepartments, "Id", "Name");
}

<h1>Add New Student</h1>
<form asp-action="Create" method="post" >

    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <br />
    <label asp-for="Grade" class="form-label"></label>
    <input asp-for="Grade" class="form-control" />
    <br />
    <label asp-for="Department" class="form-label"></label>
    <select asp-for="DeptId" asp-items="deptsList" class="form-control">
        <option value="0">-- Select Department --</option>
    </select>
    <br /><br />
    <input type="submit" value="Add New Student" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-danger">Back</a>
</form>


<br />

