<form method="post" action="\student\ShowStudent">
    <label>ID: </label>
    <input type="text" name="Id" placeholder="Enter Id"/>
    <label>Name: </label>
    <input type="text" name="Name" placeholder="Enter Name" />
    <label>Age: </label>
    <input type="text" name="Age" placeholder="Enter Age" />
    <input type="submit" value="Add Student"/>
</form>