@{
    if (TempData.ContainsKey("Layout"))
        Layout = TempData["Layout"]!.ToString();
    else
        Layout = "_Layout";
}
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-grid.min.css" />

<h1>Select One</h1>

<a asp-action="DownloadFile" class="btn btn-primary">Download File</a>
<a asp-action="ReturnJson" class="btn btn-primary">Return Json</a>
<a asp-action="Google" class="btn btn-primary">Google</a>
<a asp-action="ActionFilter" class="btn btn-primary">Test Actoin Filter</a>
<a asp-action="ChangeLayout" class="btn btn-primary">Change Layout</a>

<a asp-action="Index"  asp-controller="Home" class="btn btn-danger">Back</a>